@use 'sass:math';
@import '../../styles/settings.scss';

.wrapper {
  display: flex;
  justify-content: center;
}

.favorite {
  flex-shrink: 0;
  width: 50%;
  background: $color-light;
  margin: 0 $base-size $base-size 0;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
  color: $color-dark;

  &:last-child {
    margin: 0 0 $base-size 0;
  }
}

.cards {
  padding: math.div($base-size, 2) 0;
}

h1 {
  text-align: center;
}
