@import '../../styles/settings.scss';

.navBar {
  background-color: darken($color-dark, 3%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
}

.links {
  display: flex;
  margin: 0 10px;
  flex-direction: row;
  list-style-type: none;
}
.link {
  text-decoration: none;
  margin-left: 10px;
  a {
    text-decoration: none;
    color: $color-light;
    &:hover {
      color: $color-warning;
    }
  }
}
